/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --text-font: 'Open Sans', sans-serif;
  --head-font: 'Playfair Display', serif;

  --color: black;
  --bg-color: white;
}

body {
  margin: 0px;
  padding: 0px;

  font-family: var(--text-font);
  color: var(--color);
  font-size: 15px;

  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font);
}
